body {
    font-family: Arial, sans-serif;
    background-color: #5AAA95;
    margin: 0;
    padding: 0;
}
header {
    background-color:  #3772FF;
    color: #000505;
    padding: 10px 0;
}
nav {
    display: flex;
    justify-content: center;
    gap: 20px;
}
nav a {
    color: white;
    text-decoration: none;
}
main {
    padding: 20px;
}
.section {
    margin: 20px auto;
    padding: 20px;
    border: 2px solid #000;
    background-color: #E6EBE0;
    border-radius: 15px;
    padding: 30px;
    height: 300px;
    display: flex;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) ;
    align-items:flex-start;
    justify-content: flex-start;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.section:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.about-us-container:hover{
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}



 .about-us-container {
            
            background-color: #E6EBE0;
            border: 2px solid #000;
            border-radius: 15px;
            padding: 30px;
            width: 350px;
            text-align: center;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
        .about-us-container img {
            max-width: 100%;
            height: auto;
            border-radius: 10px;
        }
        .about-us-container h1 {
            color: #333;
        }
        .about-us-container p {
            color: #666;
            font-size: 14px;
            line-height: 1.5;
        }
        .about-us-section {
            
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 20px;
        }



        .navbar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #0044cc; /* Navbar background color */
            padding: 10px 20px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
        .navbar a {
            color: #ffffff;
            text-decoration: none;
            padding: 8px 16px;
            border-radius: 5px;
            transition: background-color 0.3s ease, color 0.3s ease;
        }
        .navbar a:hover {
            background-color: #003399; /* Hover background color */
            color: #ffffff; /* Hover text color */
        }
        .navbar-logo {
            font-size: 24px;
            font-weight: bold;
        }
        .navbar-links {
            display: flex;
            gap: 10px;
        }



        .container {
            background-color: #E6EBE0;
            border: 2px solid #000;
            border-radius: 15px;
            padding: 30px;
            width: 400px;
            text-align: center;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            margin-bottom: 20px;
        }
        .container img {
            max-width: 100%;
            height: auto;
            border-radius: 10px;
        }
        .container h1 {
            color: #333;
        }
        .container p {
            color: #666;
            font-size: 14px;
            line-height: 1.5;
        }
        .form-container {
            background-color: #E6EBE0;
            border: 2px solid #000;
            border-radius: 15px;
            padding: 30px;
            text-align: center;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
        .form-container form {
            display: flex;
            flex-direction: column;
        }
        .form-container input, .form-container textarea {
            padding: 10px;
            margin: 10px 0;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 14px;
        }
        .form-container button {
            padding: 10px;
            margin: 10px 0;
            background-color: #333;
            color: #fff;
            border: none;
            border-radius: 5px;
            font-size: 14px;
            cursor: pointer;
        }
        .form-container button:hover {
            background-color: #555;
        }


        